<div class="wallet">

  <div class="card mt-2">

    <div class="card-header">
      <div>
        <strong>{{hashwords.hashStr(wallet.hash)}}</strong>
      </div>
      {{wallet.hash}}
    </div>
    <div class="card-body">

      <div class="row">

        <div class="col-6">
          <h4>Balance: {{balance}}</h4>
          <form #sendForm="ngForm" novalidate>
            <div class="form-group">
              <label for="inputTo">Send to</label>
              <input
                required
                [ngModel]="sendObj.to"
                type="text"
                minlength="10"
                name="to"
                id="to"
                class="form-control"
                placeholder="hash address">
            </div>
            <div class="form-group">
              <label for="inputAmount">Amount</label>
              <input
                required
                [ngModel]="sendObj.amount"
                type="number" name="amount"
                class="form-control"
                id="amount"
                pattern="^\d*[1-9]\d*$"
                max="100"
                placeholder="1 Coin">
            </div>
          </form>
        </div>
        <div class="col-6">

        </div>

      </div>

      <button class="btn btn-primary" [disabled]="!sendForm.form.valid" (click)="sendCoins(sendForm)">Send Coins</button>
      <button class="btn btn-success" (click)="mine()">Mine Coins</button>
      <button class="btn btn-success" (click)="updateBalance()">Update Balance</button>
    </div>
  </div>
</div>
