<div class="wallet">

  <div class="card mt-2">

    <div class="card-header">
      Wallet # 1 : 0760c3db2eb070eae6bbc7dd631379be731ae313cfab399ccff044901dc5d32e
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>To</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
          </div>
          <div class="form-group">
            <label>Amount</label>
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
          </div>
        </div>
        <div class="col-6">

        </div>
      </div>


      <button class="btn btn-primary">Send</button>
    </div>
  </div>
</div>
