<div class="wallet">

  <div class="card mt-2">

    <div class="card-header">
      <div><strong># 1</strong></div>
      {{wallet.hash}}
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-6">
          <h4>Balance: </h4>
          <div class="form-group">
            <label>Send to</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="hash address">
          </div>
          <div class="form-group">
            <label>Amount</label>
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="1 Coin">
          </div>
        </div>
        <div class="col-6">

        </div>
      </div>

      <button class="btn btn-primary">Send Coins</button>
      <button class="btn btn-success" (click)="mine()">Mine Coins</button>
      <button class="btn btn-success" (click)="updateBalance()">Update Balance</button>
    </div>
  </div>
</div>
